spring:
  application:
    name: libraryapi
  datasource:
    url: jdbc:postgresql://localhost:5432/librarydb
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      #      ddl-auto: update
      ddl-auto: none
    properties:
      hibernate.format_sql: true
